body {
    margin: 50px;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Manrope";
    text-align: center;
}

.tabs {
    background-color: #f1f1f1;
    border: 1px solid;
    height: 50px;
    width: 1120px;
    display: flex;
    justify-content: center;
}

.tab__btn {
    width: 280px;
}

.tab__btn:hover {
    background-color: #ddd;
}

.tab__btn.activeTab {
    background-color: #ccc;
}

#content {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content {
    display: none;
}

.activeContent {
    display: inline;
}

.buttonSection {
    margin: 1rem;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.display__btn {
    font-size: large;
    padding: 10px 40px;
    min-width: 12vw;
    background-color: coral;
}

.random__btn {
    min-width: 12vw;
    font-size: large;
    padding: 10px 30px;
    background-color: #93c572;
}

.posters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.moviePoster {
    padding: 18px;
    max-width: 200px;
    max-height: 345px;
}

/* Practice with tabs */
/* #red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
} */
