body {
    margin: 50px;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Manrope";
    text-align: center;
}

.tabs {
    background-color: #f1f1f1;
    border: 1px solid;
    height: 50px;
    width: 1120px;
    display: flex;
    justify-content: center;
}

.tablink {
    width: 280px;
}

.tablink:hover {
    background-color: #ddd;
}

.tablink.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
}

#content {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn__display {
    font-size: large;
    padding: 10px 40px;
    min-width: 10vw;
    background-color: coral;
}

.btn__random {
    min-width: 10vw;
    font-size: large;
    padding: 10px 30px;
    background-color: #93c572;
}

.moviePoster {
    padding: 18px;
    max-width: 200px;
    max-height: 345px;
}

/* Practice with tabs */
/* #red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
} */
