body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Manrope";
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
}

.tabs {
    background-color: #f1f1f1;
    border: 1px solid;
    height: 50px;
    width: 1120px;
    display: flex;
}

.tab__btn {
    width: 280px;
}

.tab__btn:hover {
    background-color: #ddd;
}

.tab__btn.activeTab {
    background-color: #ccc;
}

#content {
    margin: 2rem auto;
    width: 50%;
    /* border: 3px solid green; */

    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
}

.content {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonSection {
    margin: 1.5rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.film__btn {
    font-size: large;
    padding: 10px 30px;
    min-width: 12vw;
}

.display__btn {
    background-color: coral;
}

.random__btn {
    background-color: #93c572;
}

.blitz__btn {
    background-color: rgb(197, 137, 197);
}

.posters {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 8rem;
}

.moviePoster {
    padding: 18px;
    max-width: 200px;
    max-height: 345px;
}

/* Practice with tabs */
/* #red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
} */
